
input[type="date"]{
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    width: 75%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

select[name="time"] {
     max-width:150px;
     word-wrap: normal;
     margin-bottom: 10px;
     margin-left: 55px;
}

input[type="number"]{
  box-shadow: 0 0 2px 1px #8ebebc;
  background: #fff;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f8d7da; /* Bootstrap's alert-danger background color */
    border: 1px solid #f5c6cb; /* Bootstrap's alert-danger border color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/*testing*/
.fixed-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

input[type="number"] {
	border: none;
	outline: none;
}
